/* Menu */

.menu a {
    position: relative;
    padding: 26px 0;

    font-size: 14px;
    color: var(--white);

    transition: 0.2s;
}

.menu a:hover,
.menu a.active {
    color: var(--green);
}

.menu a.active::after {
    content: "";

    position: absolute;

    left: 0;
    right: 0;
    bottom: 15px;

    height: 2px;

    background: var(--green);
}


/* Botões */

.btn {
    min-height: 42px;

    padding: 0 22px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    border-radius: 12px;

    font-size: 13px;
    font-weight: 700;

    transition:
        transform 0.2s,
        background 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}

.btn-primary {
    color: var(--white);
    background: var(--green);
}

.btn-primary:hover {
    background: var(--green-dark);
}

.btn-outline {
    color: var(--green);
    border: 1px solid var(--green);
    background: transparent;
}

.btn-secondary {
    color: var(--navy);
    border: 1px solid #b9cbd9;
    background: var(--white);
}

.btn-yellow {
    color: var(--navy);
    background: var(--yellow);
}


/* Usuário */

.user-button {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--green);
    border-radius: 50%;
}

.user-button img {
    width: 18px;
}


/* Hero */

.hero-label {
    display: block;

    margin-bottom: 15px;

    color: var(--green);

    font-size: 13px;
    line-height: 1.4;
    font-weight: 700;
}

.hero-text {
    background: linear-gradient(
        90deg,
        rgba(245, 249, 252, 1) 0%,
        rgba(245, 249, 252, 0.95) 60%,
        rgba(245, 249, 252, 0) 100%
    );
}

.hero h1 {
    margin-bottom: 12px;

    font-size: clamp(34px, 3vw, 46px);
    line-height: 1.05;

    letter-spacing: -1.5px;
}

.hero h1 section {
    color: var(--green);
}

.hero-text > p {
    max-width: 440px;

    font-size: 15px;
}


/* Benefícios */

.benefit-icon {
    width: 58px;
    height: 58px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: var(--green-light);
}

.benefit-icon img {
    width: 31px;
    height: 31px;

    object-fit: contain;
}

.benefit h3 {
    margin-bottom: 8px;

    font-size: 15px;
}

.benefit p {
    font-size: 13px;
}


/* Como funciona */

.how-title h2 {
    margin-bottom: 8px;

    font-size: 28px;
}

.how-title p {
    font-size: 13px;
}

.step-number {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    border-radius: 50%;

    color: var(--white);
    background: var(--green);

    font-size: 18px;
    font-weight: bold;
}

.step h3 {
    margin-bottom: 5px;

    font-size: 13px;
}

.step p {
    font-size: 12px;
}

.step-arrow {
    color: #8da6bb;

    font-size: 26px;
}



/* Banner CTA */

.cta-banner::after {
    content: "";

    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            270deg,
            rgba(0, 49, 67, 0.95) 0%,
            rgba(0, 49, 67, 0.85) 40%,
            rgba(0, 49, 67, 0) 75%
        );
}

.cta-content h2 {
    margin-bottom: 8px;

    color: var(--white);

    font-size: 25px;
    line-height: 1.05;
}

.cta-content h2 section {
    color: var(--green);
}

.cta-content p {
    margin-bottom: 12px;

    color: #d4e1e8;

    font-size: 12px;
}

.cta-content .btn {
    width: fit-content;
    min-height: 34px;

    padding: 0 25px;

    font-size: 11px;
}


/* Footer */

.footer-logo {
    width: 110px;

    margin-bottom: 12px;
}

.footer p {
    color: #bdcad4;

    font-size: 11px;
}

.footer h3 {
    margin-bottom: 14px;

    color: var(--white);

    font-size: 12px;
}

.footer-links {
    display: flex;
    flex-direction: column;

    gap: 9px;
}

.footer-links a {
    color: #bdcad4;

    font-size: 11px;

    transition: 0.2s;
}

.footer-links a:hover {
    color: var(--green);
}

.social-links {
    display: flex;

    gap: 17px;

    margin-top: 15px;
}

.social-links a {
    color: var(--white);

    font-size: 17px;
}


/* Newsletter */

.newsletter > p {
    margin-bottom: 13px;
}

.newsletter-form {
    height: 40px;

    display: flex;
    align-items: center;

    border: 1px solid #8799a8;
    border-radius: 8px;

    overflow: hidden;
}

.newsletter-form > section {
    margin-left: 14px;

    color: #bdcad4;
}

.newsletter-form input {
    min-width: 0;
    flex: 1;

    padding: 0 12px;

    color: var(--white);
    background: transparent;

    border: none;
    outline: none;

    font-size: 11px;
}

.newsletter-form input::placeholder {
    color: #bdcad4;
}

.newsletter-form button {
    width: 45px;
    height: 100%;

    background: var(--green);

    color: var(--navy);

    font-size: 18px;
}


/* Rodapé inferior */

.footer-bottom p {
    font-size: 9px;
}

/* Página de exercícios */

.exercise-hero {
    background: var(--background);
}

.exercise-hero-text > section {
    color: var(--green);

    font-size: 13px;
    font-weight: 700;
}

.exercise-hero-text h1 {
    margin: 8px 0 14px;

    font-size: 42px;
    line-height: 1.05;
}

.exercise-hero-text p {
    font-size: 14px;
}


/* Filtros */

.filter {
    min-width: 120px;
    height: 42px;

    padding: 0 25px;

    border: 1px solid var(--border);
    border-radius: 25px;

    color: var(--text);
    background: var(--background);

    font-size: 13px;

    cursor: pointer;
}

/* Título */

.banner-title h1 {
    margin-bottom: 10px;

    color: var(--navy);

    font-size: 25px;
    font-size: 30px;
}

.banner-title p {
    color: var(--text-light);
    font-size: 13px;

    font-size: 20px;

}


/* Frase do banner */

.banner-message p {
    color: var(--text-light);

    font-size: 17px;
    line-height: 1.15;

    font-size: 25px;
    line-height: 1.20;

}

.banner-message strong {
    color: var(--green);

    font-weight: 700;
}


/* Formulário */

.login-form {
    padding: 28px 35px 35px;

    background: rgba(255, 255, 255, 0.9);

    border-radius: 8px;

    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.025);
}

.login-form h2 {
    margin-bottom: 24px;

    color: var(--navy);

    font-size: 24px;
}


/* Campos */

.input-group {
    width: 100%;
    height: 48px;

    position: relative;

    display: flex;
    align-items: center;

    margin-bottom: 17px;

    border: 1px solid #c9d9e5;
    border-radius: 9px;

    background: var(--white);
}

.input-icon {
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #55768f;

    font-size: 18px;
}

.input-group input {
    height: 100%;

    flex: 1;

    border: none;
    outline: none;

    color: var(--text);

    background: transparent;

    font-size: 13px;
}

.input-group input::placeholder {
    color: var(--text-light);
}


/* Mostrar senha */

.show-password {
    width: 45px;
    height: 100%;

    color: var(--text-light);

    background: transparent;
}


/* Lembrar senha */

.login-options {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 5px 0 20px;
}

.remember {
    display: flex;
    align-items: center;

    gap: 8px;

    color: #526b7e;

    font-size: 12px;
}

.remember input {
    width: 18px;
    height: 18px;

    accent-color: var(--green);
}

.login-options > a {
    color: #00bfc4;

    font-size: 12px;
    font-weight: 600;
}


/* Botão entrar */

.btn-login {
    width: 100%;
    height: 45px;

    border-radius: 9px;

    color: var(--white);
    background: var(--green);

    font-size: 13px;
    font-weight: 700;
    transition: 0.2s;
}

.filter:hover {
    border-color: var(--green);
    color: var(--green);
}

.filter.active {
    color: var(--white);
    background: var(--green);
    border-color: var(--green);
}


/* Cards */

.exercise-card {
    background: var(--white);

    border: 1px solid var(--border);
    border-radius: 10px;
}

.exercise-image {
    border-radius: 7px;
}

.exercise-info h3 {
    font-size: 16px;
}

.exercise-info p {
    font-size: 13px;
}

.exercise-arrow {
    color: #7797ad;

    font-size: 28px;
}


/* Tags */

.tag {
    padding: 4px 12px;

    border-radius: 12px;

    font-size: 10px;
    font-weight: 600;
}

.tag.muscle {
    color: #259bc4;
    background: #e5f6fc;
}

.tag.beginner {
    color: var(--green);
    background: var(--green-light);
}

.tag.intermediate {
    color: #c78b00;
    background: #fff3cc;
}


.btn-login:hover {
    background: var(--green-dark);
}


/* Separador */

.separator {
    display: flex;
    align-items: center;

    gap: 15px;

    margin: 20px 0;
}

.separator section {
    height: 1px;

    flex: 1;

    background: var(--border);
}

.separator p {
    color: #8297a8;

    font-size: 11px;
}


/* Google */

.btn-google {
    width: 100%;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 14px;

    border: 1px solid #c9d9e5;
    border-radius: 9px;

    color: #304b61;
    background: var(--white);

    font-size: 13px;
    font-weight: 600;
}

.google-icon {
    width: 18px;
    height: 18px;
    max-width: 18px;

    object-fit: contain;
    flex-shrink: 0;
}


/* Cadastro */

.register {
    margin-top: 20px;

    text-align: center;

    color: var(--text-light);

    font-size: 12px;
}

.register a {
    color: #00bfc4;

    font-weight: 600;

    text-decoration: underline;
}

.register-page {
    background:
        linear-gradient(
            135deg,
            #f5f9fc,
            #eaf4f8
        );
}

.register-container {
    background: var(--white);

    border-radius: 12px;

    box-shadow:
        0 10px 35px rgba(7, 28, 44, 0.10);
}


/* Lado esquerdo */

.register-intro {
    background:
        linear-gradient(
            145deg,
            #ffffff,
            #f2f8fc
        );
}

.register-intro::after {
    content: "";

    position: absolute;

    width: 250px;
    height: 35px;

    left: -40px;
    bottom: 150px;

    background: var(--green);

    transform: rotate(-45deg);

    opacity: 0.95;
}

.register-intro-text h2 {
    margin-bottom: 8px;

    font-size: 23px;
}

.register-intro-text p {
    max-width: 300px;

    font-size: 15px;
}

.register-message {
    color: var(--green);

    font-size: 15px;
    line-height: 1.3;
}

.register-message strong {
    color: var(--navy);
}


/* Formulário */

.register-form-area {
    background: var(--white);
}

.register-title h1 {
    margin-bottom: 6px;

    font-size: 27px;
}

.register-title p {
    font-size: 13px;
}

.register-form form > label {
    color: var(--navy);

    font-size: 12px;
    font-weight: 700;
}

.input-group {
    border: 1px solid var(--border);
    border-radius: 7px;

    background: var(--white);

    transition: 0.2s;
}

.input-group:focus-within {
    border-color: var(--green);

    box-shadow:
        0 0 0 2px rgba(0, 200, 111, 0.08);
}

.input-group section {
    color: #7891a5;

    font-size: 16px;
}

.input-group input {
    border: none;
    outline: none;

    color: var(--text);
    background: transparent;

    font-size: 12px;
}

.input-group input::placeholder {
    color: #9aaebb;
}

/* Botão Google */

/* Google */

.google-button {
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;

    border: 1px solid var(--border);
    border-radius: 7px;

    background: var(--white);

    cursor: pointer;
}

.google-button .google-icon {
    width: 20px !important;
    height: 20px !important;
    max-width: 20px !important;

    object-fit: contain;
}

.google-button p {
    margin: 0;

    color: var(--text);

    font-size: 12px;
    font-weight: 600;
    line-height: 1;
}

/* Termos */

.register-terms label {
    color: var(--text-light);

    font-size: 11px;
    line-height: 1.5;
}

.register-terms a {
    color: var(--green);

    font-weight: 700;
}


/* Botão cadastrar */

.register-button {
    border-radius: 7px;

    color: var(--white);
    background: var(--green);

    font-size: 12px;
    font-weight: 700;

    transition: 0.2s;
}

.register-button:hover {
    background: var(--green-dark);
}


/* Divisor */

.register-divider section {
    background: var(--border);
}

.register-divider p {
    color: #8ba0b0;

    font-size: 11px;
}


/* Google */

.google-button {
    border: 1px solid var(--border);
    border-radius: 7px;

    color: var(--text);
    background: var(--white);

    font-size: 12px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.google-button:hover {
    background: var(--background);
}

.google-button section {
    margin-right: 10px;

    color: #4285f4;

    font-weight: 700;
}


/* Entrar */

.login-link {
    color: var(--text-light);

    font-size: 11px;
}

.login-link a {
    color: var(--green);

    font-weight: 700;
}

/* Página de planos */

.plans-page {
    background:
        linear-gradient(
            180deg,
            #f5f9fc 0%,
            #ffffff 100%
        );
}


/* Apresentação */

.plans-label {
    margin-bottom: 7px;

    color: var(--green);

    font-size: 12px;
    font-weight: 700;
}

.plans-hero-text h1 {
    margin-bottom: 12px;

    font-size: 38px;
    line-height: 1.1;
}

.plans-description {
    font-size: 14px;
}


/* Tipos */

.plan-type {
    border: 1px solid var(--border);
    border-radius: 8px;

    color: var(--text-light);
    background: var(--white);

    cursor: pointer;

    transition: 0.2s;
}

.plan-type:hover {
    border-color: var(--green);

    transform: translateY(-2px);
}

.plan-type.active {
    border-color: var(--green);

    color: var(--white);
    background: var(--green);
}

.plan-type-icon {
    font-size: 27px;
}

.plan-type p {
    color: inherit;

    font-size: 12px;
    font-weight: 700;
}


/* Título do plano */

.plan-title h2 {
    margin-bottom: 7px;

    font-size: 25px;
}

.plan-title p {
    font-size: 13px;
}


/* Informações */

.plan-information {
    border: 1px solid #c8f1df;
    border-radius: 10px;

    background:
        linear-gradient(
            90deg,
            #e9fff5,
            #e1f9f1
        );
}

.plan-information-icon {
    color: var(--green);

    font-size: 25px;
}

.plan-information-item p {
    color: var(--text-light);

    font-size: 10px;
    line-height: 1.3;
}

.plan-information-item strong {
    color: var(--navy);

    font-size: 12px;
}


/* Semanas */

.week-card {
    border: 1px solid var(--border);
    border-radius: 8px;

    background: var(--white);

    transition: 0.2s;
}

.week-card:hover {
    border-color: var(--green);

    transform: translateX(3px);
}

.week-icon {
    border-radius: 7px;

    color: var(--green);
    background: var(--green-light);

    font-size: 20px;
}

.week-description h3 {
    margin-bottom: 3px;

    font-size: 12px;
}

.week-description p {
    font-size: 11px;
}

.week-training {
    color: var(--text-light);

    font-size: 10px;
}

.week-arrow {
    color: #668aa2;

    font-size: 22px;
}


/* Botão */

.plan-details-button {
    border-radius: 7px;

    color: var(--white);
    background: var(--green);

    font-size: 12px;
    font-weight: 700;

    transition: 0.2s;
}

.plan-details-button:hover {
    background: var(--green-dark);
}

.plan-details-button section {
    color: var(--white);
}

/* Dashboard */

.dashboard {
    background: #f7fafc;
}


/* Menu lateral */

.sidebar {
    background:
        linear-gradient(
            120deg,
            #071c2c,
            #102b3f
        );

    border-right: none;
}

.sidebar-link {
    border-radius: 7px;

    color: var(--text-light);

    font-size: 13px;
    font-weight: 600;

    transition: 0.2s;
}

.sidebar-link p {
    color: inherit;

    font-size: inherit;
}

.sidebar-link:hover {
    color: var(--green);

    background: var(--green-light);
}

.sidebar-link.active {
    color: var(--white);
    background: var(--green);
}

.sidebar-link.active p {
    color: var(--white);
}


/* Header */

.dashboard-header {
    background:
        linear-gradient(
            120deg,
            #071c2c,
            #102b3f
        );

    border-bottom: none;
}

.dashboard-user img {
    border-radius: 50%;
}

.dashboard-user p {
    color: var(--navy);

    font-size: 13px;
    font-weight: 700;
}

.dashboard-user-arrow {
    color: var(--text-light);

    font-size: 15px;
}


/* Saudação */

.dashboard-welcome h1 {
    margin-bottom: 5px;

    font-size: 27px;
}

.dashboard-welcome p {
    font-size: 14px;
}


/* Progresso */

.progress-card {
    border: 1px solid #edf1f4;
    border-radius: 10px;

    background: var(--white);

    box-shadow:
        0 3px 12px rgba(7, 28, 44, 0.04);
}

.progress-header h3 {
    margin-bottom: 4px;

    font-size: 12px;
}

.progress-header p {
    font-size: 10px;
}

.progress-header strong {
    color: var(--text-light);

    font-size: 11px;
}

.progress-bar {
    border-radius: 10px;

    background: #e7eef3;
}

.progress-value {
    border-radius: 10px;

    background: var(--green);
}


/* Estatísticas */

.stat-card {
    border: 1px solid #edf1f4;
    border-radius: 10px;

    background: var(--white);

    box-shadow:
        0 3px 12px rgba(7, 28, 44, 0.04);
}

.stat-icon {
    border-radius: 8px;
}

.stat-green {
    background: var(--green-light);
}

.stat-orange {
    background: #fff4dc;
}

.stat-information p {
    margin-bottom: 3px;

    font-size: 10px;
}

.stat-information strong {
    color: var(--navy);

    font-size: 21px;
}

.stat-information small {
    color: var(--text-light);

    font-size: 10px;
}


/* Próximo treino */

.next-workout h2 {
    font-size: 15px;
}

.workout-card {
    border: 1px solid #edf1f4;
    border-radius: 10px;

    background: var(--white);
}

.workout-image {
    border-radius: 7px;
}

.workout-information h3 {
    margin-bottom: 5px;

    font-size: 13px;
}

.workout-information p {
    font-size: 10px;
}

.workout-button {
    border-radius: 20px;

    color: var(--white);
    background: var(--green);

    font-size: 11px;
    font-weight: 700;

    transition: 0.2s;
}

.workout-button:hover {
    background: var(--green-dark);
}

.workout-button section {
    color: var(--white);
}


/* Motivação */

.motivation-card {
    border-radius: 10px;

    background:
        linear-gradient(
            135deg,
            #e7fbff,
            #dffaf5
        );
}

.motivation-card h3 {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.4;
}

.motivation-card p {
    font-size: 10px;
}

/* Página da semana */

.week-back {
    color: var(--navy);

    font-size: 13px;
    font-weight: 700;
}

.week-back:hover {
    color: var(--green);
}


/* Cabeçalho */

.week-label {
    margin-bottom: 7px;

    color: var(--green);

    font-size: 12px;
    font-weight: 700;
}

.week-page-header h1 {
    margin-bottom: 6px;

    font-size: 38px;
}

.week-page-header h2 {
    margin-bottom: 10px;

    font-size: 20px;
}

.week-introduction {
    max-width: 580px;

    font-size: 14px;
    line-height: 1.5;
}


/* Informações */

.week-info {
    background: var(--green-light);

    border: 1px solid #a7e9cd;
    border-radius: 10px;
}

.week-info-item p {
    margin-bottom: 3px;

    font-size: 12px;
}

.week-info-item strong {
    color: var(--navy);

    font-size: 15px;
}


/* Treinos */

.week-training-title h2 {
    margin-bottom: 5px;

    font-size: 24px;
}

.week-training-title p {
    font-size: 13px;
}


/* Cards */

.training-card {
    background: var(--white);

    border: 1px solid var(--border);
    border-radius: 10px;

    transition: 0.2s;
}

.training-card:hover {
    transform: translateY(-2px);

    box-shadow: 0 5px 15px
        rgba(7, 28, 44, 0.08);
}

.training-card-icon {
    background: var(--green-light);

    border-radius: 10px;
}

.training-card-content h3 {
    margin-bottom: 4px;

    font-size: 17px;
}

.training-card-content > p {
    max-width: 400px;

    font-size: 13px;
    line-height: 1.35;
}


/* Etiquetas */

.training-tags p {
    padding: 4px 12px;

    color: #35566e;
    background: #edf4f8;

    border-radius: 20px;

    font-size: 11px;
}


/* Ações */

.training-arrow {
    margin-right: 15px;

    color: #315d77;

    font-size: 25px;
}

.training-start {
    padding: 12px 25px;

    color: var(--white);
    background: var(--green);

    border-radius: 7px;

    font-size: 12px;
    font-weight: 700;
}

.training-start:hover {
    background: var(--green-dark);
}



/* Responsividade */

@media (max-width: 500px) {

    .login-form {
        padding: 25px 20px;
    }

    .login-options {
        gap: 15px;
    }
}

.input-group.input-error {
    border-color: #e04848;

    box-shadow:
        0 0 0 2px rgba(224, 72, 72, 0.08);
}

.error-message {
    display: block;

    min-height: 14px;
    margin-top: -12px;
    margin-bottom: 12px;

    color: #e04848;

    font-size: 11px;
}

.register-terms + .error-message {
    margin-top: 6px;
}

/* Mostrar/ocultar senha */

.toggle-senha {
    width: 42px;
    height: 100%;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background: transparent;

    color: #7891a5;
    font-size: 14px;

    cursor: pointer;
}

.toggle-senha:hover {
    color: var(--green);
}